Header set Access-Control-Allow-Origin "*"
RewriteEngine On
RewriteCond %{REQUEST_URI} !^.*\.png$
RewriteCond %{REQUEST_URI} !^.*\.jpg$
RewriteCond %{REQUEST_URI} !^.*\.jpeg$
RewriteCond %{REQUEST_URI} !^.*\.bmp$
RewriteCond %{REQUEST_URI} !^.*\.ico$
RewriteCond %{REQUEST_URI} !^.*\.gif$
RewriteRule ^(.+)$ index.php?q=$1 [L,QSA]